<!-- <p>admin-header works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Product</a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="sendData()">Sort desc</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="ascendData()">ascend desc</button>
    <!-- <h3>Date Picker: {{date | date: 'dd'}}/{{date | date:'MM'}}/{{date | date: 'yyyy'}}</h3>  -->
    <!-- Date picker:<input type="date"> -->
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/admin-header">Sort asc</button> -->
</nav>
